@{
    ViewBag.Title = "Product";
    Layout = "_Layout";
    var products = ViewData["Products"] as IEnumerable<Product>;
    var categories = ViewData["Categories"] as IEnumerable<Category>;
    var categoryId = ViewData["CurrentCategoryId"] as Guid?;
    var currentCategory = categories.FirstOrDefault(c => c.Id == categoryId);
    var currentCategoryName = currentCategory != null ? currentCategory.Name : "Todos";
}
<div class="container">
    <h1 class="fw-bold text-secondary-900">Produtos</h1>
    <p>Descubra a autenticidade dos nossos produtos, cultivados com dedicação pelos membros da nossa cooperativa. Do
        campo para a sua mesa, oferecemos sabores genuínos que refletem o cuidado com a terra e o apoio à agricultura
        local.</p>

</div>
<div class="container-fluid">
    <hr/>
</div>
<div class="container-fluid d-flex mb-4">
    <div class="p-2 flex-grow-1" style="max-width: 15%">
        <ul class="nav flex-column nav-pills" asp-action="Index">
            <li class="nav-item">
                <a class="nav-link @(categoryId == null ? "active" : "text-secondary-900")"
                   asp-action="Index"
                   asp-route-categoryId="" >Todos</a>
            </li>
            
            @foreach (var category in categories!)
            {
                <li class="nav-item ">
                    <a class="nav-link @(categoryId == category.Id ? "active" : "text-secondary-900")"
                       asp-action="Index"
                       asp-route-categoryId="@category.Id">@category.Name</a>
                </li>
            }
        </ul>
    </div>
    
    <div class="container mx-0 px-4">
        <h2 class="text-primary-500 fs-3">
            @currentCategoryName
        </h2>
        @* <p>@category.Description</p> *@
        <div class="row align-content-start justify-content-start gy-2 my-4">
            @foreach (var product in products!)
            {
                @await Component.InvokeAsync("ProductCard", product)
            }
        </div>
    </div>
    <div class="flex-grow-1"></div>
</div>
